<div layout="column" layout-align="center" id="index-div" ng-cloak>
	<div flex=10></div>
	<div flex=40 layout="column" layout-align="center center">
		<div flex></div>
		<div flex></div>
		<div flex><h1 class="md-display-3">Gossip</h1></div>
	</div>
	<div flex=40 layout="row" layout-align="space-around start">
		<div flex></div>
		<div flex=50 layout="row">
			<div flex=45>
				<md-button ui-sref="post_gossip" class="index-button">Button</md-button>
			</div>
			<div flex=45 flex-offset=10>
				<md-button class="index-button">Button</md-button>
			</div>
		</div>
		<div flex></div>
	</div>
	<div flex=10 ></div>	      
</div>