<div layout="column" layout-align="center">
	<div flex=30>
		<md-content  layout-gt-sm="row" layout-padding>
		    <div flex>
		      <md-input-container class="md-block">
	          	<label>Title</label>
	          	<input ng-model="doc.title">
	          </md-input-container>
			      <md-input-container>
		        <label>Title</label>
		        <input ng-model="doc.tag">
		      </md-input-container>
		    </div>
		</md-content>
	</div>
	<div flex=70 style="height: 100%;">
		<div class="padded" md-whiteframe="1" flex=100 >
	    	<md-content md-theme="docs-dark" layout-padding>
				<div flex>
					<md-input-container class="md-block">
			          <label>Biography</label>
			          <textarea ng-model="doc.biography" md-maxlength="2000" rows="50" md-select-on-focus></textarea>
			        </md-input-container>
				</div>
			</md-content>
	  	</div>
	</div>
</div>	
