@import "angular-material/angular-material.scss";

body{
	background-image: image-url("bg-10-full.jpg");
}

main {
	height: 100vh;
}

#index-div {
	height: 100%;
}

.index-button {
	border-radius: 10px;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-width: 2px;
    width: 100%;
}
.background-div {
	position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    // z-index:-1; /* Remove this line if it's not going to be a background! */
}	

.btn {
	margin: 0;
}